@import '../../scss/variables';

.root {
    background-color: $btn-bg-light-beige;
    height: 74px;
    padding: 12px 0;
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.08);
    &.lilac {
        .title {
            color: $clr-dark-lilac;
        }
        .timer_block {
            div {
                color: $clr-dark-lilac;
            }
            span {
                color: $clr-dark-lilac;
            }
            &:first-child::before,
            &:first-child::after,
            &:nth-child(2)::before,
            &:nth-child(2)::after,
            &:nth-child(3)::before,
            &:nth-child(3)::after {
                background-color: $clr-dark-lilac;
            }
        }
    }
    &.mint {
        .title {
            color: $clr-dark-mint;
        }
        .timer_block {
            div {
                color: $clr-dark-mint;
            }
            span {
                color: $clr-dark-mint;
            }
            &:first-child::before,
            &:first-child::after,
            &:nth-child(2)::before,
            &:nth-child(2)::after,
            &:nth-child(3)::before,
            &:nth-child(3)::after {
                background-color: $clr-dark-mint;
            }
        }
    }
    &.sky {
        .title {
            color: $clr-dark-sky;
        }
        .timer_block {
            div {
                color: $clr-dark-sky;
            }
            span {
                color: $clr-dark-sky;
            }
            &:first-child::before,
            &:first-child::after,
            &:nth-child(2)::before,
            &:nth-child(2)::after,
            &:nth-child(3)::before,
            &:nth-child(3)::after {
                background-color: $clr-dark-sky;
            }
        }
    }
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.timer_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.title {
    @extend %h7;
    font-weight: 700;
    text-transform: uppercase;
}
.timer_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    div {
        @extend %h6;
        font-weight: 700;
        text-transform: uppercase;
    }
    span {
        @extend %h9;
    }
    &:first-child::before,
    &:first-child::after,
    &:nth-child(2)::before,
    &:nth-child(2)::after,
    &:nth-child(3)::before,
    &:nth-child(3)::after {
        content: '';
        width: 4px;
        height: 4px;
        position: absolute;
        top: 50%;
        right: -17px;
    }
    &:first-child::before,
    &:nth-child(2)::before,
    &:nth-child(3)::before {
        transform: translateY(-15px);
    }
    &:first-child::after,
    &:nth-child(2)::after,
    &:nth-child(3)::after {
        transform: translateY(-7px);
    }
}

@media (max-width: 759.98px) {
    .root {
        height: 60px;
        padding: 12px 0;
    }
    .timer_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 21px;
    }
    .title {
        font-size: 12px;
    }
    .timer_block {
        span {
           font-size: 10px;
        }
        &:first-child::before,
        &:first-child::after,
        &:nth-child(2)::before,
        &:nth-child(2)::after,
        &:nth-child(3)::before,
        &:nth-child(3)::after {
            content: '';
            width: 3px;
            height: 3px;
            position: absolute;
            top: 50%;
            right: -11px;
        }
        &:first-child::before,
        &:nth-child(2)::before,
        &:nth-child(3)::before {
            transform: translateY(-11px);
        }
        &:first-child::after,
        &:nth-child(2)::after,
        &:nth-child(3)::after {
            transform: translateY(-4px);
        }
    }
}