@import '../../scss/buttons';

.root {
    max-width: 610px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &.lilac {
        .button {
            @extend %btn-l-lilac-primary;
        }
        .hat {
            background: $btn-bg-lilac;
        }
        .extra_list {
            li {
                &::before {
                    background: $btn-bg-lilac;
                }
            }
        }
        .price {
            color: $btn-bg-lilac;
        }
    }
    &.mint {
        .button {
            @extend %btn-l-mint-primary;
        }
        .hat {
            background: $btn-bg-mint;
        }
        .extra_list {
            li {
                &::before {
                    background: $btn-bg-mint;
                }
            }
        }
        .price {
            color: $btn-bg-mint;
        }
    }
    &.sky {
        .button {
            @extend %btn-l-sky-primary;
        }
        .hat {
            background: $btn-bg-sky;
        }
        .extra_list {
            li {
                &::before {
                    background: $btn-bg-sky;
                }
            }
        }
        .price {
            color: $btn-bg-sky;
        }
    }
    &.pinky {
        .button {
            @extend %btn-l-pinky-primary;
        }
        .hat {
            background: $btn-bg-pinky;
        }
        .extra_list {
            li {
                &::before {
                    background: $btn-bg-pinky;
                }
            }
        }
        .price {
            color: $btn-bg-pinky;
        }
    }
    &:last-child {
        .body,
        .modules_list  {
            flex-grow: 0;
        }
    }
}
.hat {
    display: flex;
    padding: 40px 90px 20px;
    flex-direction: column;
    border-radius: 8px 8px 0 0;
}
.level {
    @extend %h7;
    color: $clr-light-beige;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.title {
    @extend %h4;
    color: $clr-white;
    margin-bottom: 20px;
}
.main_info_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    li {
        @extend %h7;
        color: $clr-white;
        padding-left: 48px;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 28px;
            height: 28px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background: url(../../../public/icons/quadstar.svg) center center / cover no-repeat;
        }
    }
}

.body {
    padding: 40px 90px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 0 0 8px 8px;
    background: #FFF;
}

.modules_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
    margin-bottom: 40px;
    li {
        @extend %h8;
        color: $clr-dark-violet;
        span {
            font-weight: 700;
        }
    }
}

.extra_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
    li {
        @extend %h9;
        color: $clr-dark-violet;
        padding-left: 38px;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            border-radius: 50%;
            background-color: $clr-lilac;
        }
    }
}
.subtitle_timer {
    @extend %h8;
    font-weight: 700;
    text-align: center;
    color: $clr-dark-violet;
    margin-bottom: 10px;
}
.timer_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}
.timer_block {
    position: relative;
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: $clr-light-beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div {
        @extend %h5;
        font-weight: 700;
        text-transform: uppercase;
        color: $clr-dark-violet;
    }
    span {
        @extend %h10;
        font-weight: 500;
        color: $clr-dark-violet;
    }
    &:first-child::before,
    &:first-child::after,
    &:nth-child(2)::before,
    &:nth-child(2)::after,
    &:nth-child(3)::before,
    &:nth-child(3)::after {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $clr-dark-violet;
        position: absolute;
        top: 50%;
        right: -12px;
    }
    &:first-child::before,
    &:nth-child(2)::before,
    &:nth-child(3)::before {
        transform: translateY(-10px);
    }
    &:first-child::after,
    &:nth-child(2)::after,
    &:nth-child(3)::after {
        transform: translateY(8px);
    }
}
.price {
    @extend %h2;
    color: $clr-dark-lilac;
    margin-bottom: 6px;
    text-align: center;
}
.old_price {
    @extend %h4;
    color: $btn-bg-grey;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    &::after {
        content: '';
        width: 97px;
        height: 1px;
        background-color: $clr-dark-lilac;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.link {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.button {
    width: inherit;
}
.expiration_date {
    @extend %h9;
    color: $clr-dark-violet;
    text-align: center;
    span {
        font-weight: 700;
    }
}
.expiration_date_last {
    text-align: start;
    font-weight: 700;
}

@media (max-width: 1439.98px) {
    .hat {
        padding: 40px 40px 20px;
    }
    .body {
        padding: 40px 40px;
    }
}

@media (max-width: 1199.98px) {
    .hat {
        padding: 40px 90px 20px;
    }
    .body {
        padding: 40px 90px;
    }
}

@media (max-width: 759.98px) {
    .hat {
        padding: 20px 30px;
    }
    .body {
        padding: 20px 30px 40px 30px;
    }
    .level {
        font-size: 14px;
        margin: 0 0 4px;
    }
    .title {
        margin-bottom: 12px;
    }
    .main_info_list {
        gap: 8px;
        li {
            font-size: 14px;
            padding-left: 24px;
            &::before {
                width: 14px;
                height: 14px;
            }
        }
    }
    .modules_list {
        gap: 8px;
        margin-bottom: 20px;
    }
    .extra_list {
        gap: 8px;
        margin-bottom: 20px;
        li {
            padding-left: 19px;
            &::before {
                width: 9px;
                height: 9px;
            }
        }
    }
    .subtitle_timer {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .timer_wrap {
        gap: 12px;
    }
    .timer_block {
        width: 54px;
        height: 54px;
        margin-bottom: 12px;
        border-radius: 4px;
        div {
            font-size: 18px;
        }
        &:first-child::before,
        &:first-child::after,
        &:nth-child(2)::before,
        &:nth-child(2)::after,
        &:nth-child(3)::before,
        &:nth-child(3)::after {
            width: 4px;
            height: 4px;
            right: -8px;
        }
        &:first-child::before,
        &:nth-child(2)::before,
        &:nth-child(3)::before {
            transform: translateY(-6px);
        }
        &:first-child::after,
        &:nth-child(2)::after,
        &:nth-child(3)::after {
            transform: translateY(4px);
        }
    }
    .price {
        font-size: 36px;
        margin-bottom: 4px;
    }
    .old_price {
        font-size: 20px;
        margin-bottom: 12px;
        &::after {
            width: 60px;
        }
    }
    .link {
        margin-bottom: 8px;
    }
}