@import '../../scss/buttons';

.root {
    max-width: 610px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &.lilac {
        .button {
            @extend %btn-l-lilac-primary;
        }
        .background {
            background: url(../../../public/images/bg-lilac.jpg) no-repeat center center / cover;
        }
        .level {
            background: $btn-bg-lilac;
        }
        .title {
            color: $clr-dark-lilac;
        }
    }
    &.mint {
        .button {
            @extend %btn-l-mint-primary;
        }
        .background {
            background: url(../../../public/images/bg-mint.jpg) no-repeat center center / cover;
        }
        .level {
            background: $btn-bg-mint;
        }
        .title {
            color: $clr-dark-mint;
        }
    }
    &.sky {
        .button {
            @extend %btn-l-sky-primary;
        }
        .background {
            background: url(../../../public/images/bg-sky.jpg) no-repeat center center / cover;
        }
        .level {
            background: $btn-bg-sky;
        }
        .title {
            color: $clr-dark-sky;
        }
    }
    &.pinky {
        .button {
            @extend %btn-l-pinky-primary;
        }
        .background {
            background: url(../../../public/images/bg-pinky.jpg) no-repeat center center / cover;
        }
        .level {
            background: $btn-bg-pinky;
        }
        .title {
            color: $clr-dark-pinky;
        }
    }
}
.background {
    height: 140px;
    border-radius: 8px 8px 0px 0px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: max-content;
    padding: 28px 42px 40px;
    border-radius: 0px 0px 8px 8px;
    background: $btn-bg-white;
}
.level {
    @extend %h7;
    color: $clr-white;
    text-transform: uppercase;
    width: max-content;
    display: flex;
    padding: 8px 16px;
    margin-bottom: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.title {
    @extend %h4;
    margin-bottom: 12px;
}
.text {
    flex-grow: 1;
    @extend %h8;
    color: $clr-dark-violet;
    margin-bottom: 24px;
    span {
        font-weight: 700;
    }
}
.link {
    margin-bottom: 24px;
}
.button {
    width: 100%;
}
.date_duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %h7;
    color: $clr-dark-violet;
}
.date,
.duration {
    padding-left: 40px;
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}
.date {
    &::before {
        background: url(../../../public/icons/calendar.svg) no-repeat center center / cover;
    }
}
.duration {
    &::before {
        background: url(../../../public/icons/clock.svg) no-repeat center center / cover;
    }
}

@media (max-width: 1439.98px) {
    .background {
        height: 110px;
    }
    .level {
        font-size: 20px;
    }
    .wrapper {
        padding: 28px 32px 40px;
    }
    .button {
        font-size: 20px;
    }
}

@media (max-width: 1199.98px) {
    .background {
        height: 140px;
    }
    .wrapper {
        padding: 28px 42px 40px;
    }
}

@media (max-width: 759.98px) {
    .root {
        &.lilac,
        &.mint,
        &.sky,
        &.pinky {
            .button {
                font-size: 14px;
                padding: 18px;
            }
        }
    }
    .background {
        height: 84px;
    }
    .wrapper {
        padding: 14px 20px 20px;
    }
    .level {
        padding: 4px 8px;
        border-radius: 5px;
        font-size: 12px;
        margin-bottom: 8px;
    }
    .title {
        font-size: 20px;
        margin: 0 0 8px;
    }
    .text {
        font-size: 12px;
    }
    .link {
        margin-bottom: 16px;
    }
    .button {
        font-size: 14px;
        padding: 18px 24px;
    }
    .date_duration {
        font-size: 12px;
    }

    .date,
    .duration {
        padding-left: 22px;
        &::before {
            width: 16px;
            height: 16px;
        }
    }
}