@import '../../scss/variables';

.root {
    .container {
        max-width: 1440px;
        padding: 0;
        margin: 0 auto;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 28px;
        li {
            a {
                padding: 6px;
                @extend %h9;
                color: $clr-white;
                &:hover {
                    color: $clr-beige;
                }
            }
        }
    }
}

@media (max-width: 1439.98px) {
    .root {
        position: fixed;
        z-index: 1;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: url(../../../public/images/2.jpg) no-repeat center top / cover;
        padding: 162px 0 40px;
        transition: left 0.4s ease;
        overflow: auto;
        font-size: 24px;
        &.lilac {
            background: $btn-bg-dark-lilac;
        }
        &.mint {
            background: $btn-bg-dark-mint;
        }
        &.sky {
            background: $btn-bg-dark-sky;
        }
        &.pinky {
            background: $btn-bg-dark-pinky;
        }
        ul {
            width: fit-content;
            flex-direction: column;
            align-items: flex-start;
            li {
                a {
                    font-size: 24px;
                }
                &:nth-child(3) {
                    margin-top: 160px;
                }
            }
        }

        &._active {
            left: 0;
        }
        .container {
            max-width: 1200px;
            padding: 0 80px;
        }
    }
}

@media (max-width: 1199.98px) {
    .root {
        .container {
            max-width: 992px;
            padding: 0 60px;
        }
    }
}

@media (max-width: 991.98px) {
    .root {
        .container {
            max-width: 760px;
        }
    }
}

@media (max-width:759.98px) {
    .root {
        ul {
            gap: 20px;
            li {
                a {
                    font-size: 18px;
                }
                &:nth-child(3) {
                    margin-top: 152px;
                }
            }
        }
        .container {
            max-width: 576px;
            padding: 0 30px;
        }
    }
}

@media (max-width: 575.98px) {
    .root {
        ul {
            gap: 20px;
            li {
                a {
                    font-size: 18px;
                }
                &:nth-child(3) {
                    margin-top: 152px;
                }
            }
        }
        .container {
            max-width: 100%;
            padding: 0 20px;
        }
    }
}