@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&family=Wix+Madefor+Display:wght@400;500;700&display=swap');
@import '../scss/variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: 'Mulish', sans-serif;
  scroll-behavior: smooth;
}

body._noScroll {
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

select,
button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;

  @media (max-width: 1439.98px) {
      & {
          max-width: 1200px;
          padding: 0 80px;
      }
  }

  @media (max-width: 1199.98px) {
      & {
          max-width: 992px;
          padding: 0 60px;
      }
  }

  @media (max-width: 991.98px) {
      & {
          max-width: 760px;
      }
  }

  @media (max-width: 759.98px) {
      & {
          max-width: 576px;
          padding: 0 30px;
      }
  }

  @media (max-width: 575.98px) {
      & {
          max-width: 100%;
          padding: 0 20px;
      }
  }
}