@import '../../scss/variables';

.root {
    padding: 30px 0 20px;
    background-color: $bg-dark-violet;
    &.lilac {
        background-color: $btn-bg-dark-lilac;
    }
    &.mint {
        background-color: $btn-bg-dark-mint;
    }
    &.sky {
        background-color: $btn-bg-dark-sky;
    }
    &.pinky {
        background-color: $btn-bg-dark-pinky;
    }
}

.nav_wrapper {
    display: flex;
    gap: 122px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    font-size: 14px;
    font-weight: 500;
    color: $clr-white;
}
  
.copyright {
    margin-right: auto;
}

@media (max-width: 1439.98px) {
    .nav_wrapper {
        gap: 60px;
    }
}

@media (max-width: 1199.98px) {
    .nav_wrapper {
       flex-direction: column;
    }
}

@media (max-width: 991.98px) {
    .root {
        padding: 100px 0;
        background-color: $bg-dark-violet;
    }
    .wrapper {
        max-width: fit-content;
        margin: 0 auto;
    }
    .content {
        flex-direction: column;
        gap: 20px;
    }
}
@media (max-width: 759.98px) {
    .root {
        padding: 80px 0;
    }
    .nav_wrapper {
        gap: 40px;
    }
    .content {
        gap: 12px;
    }
    .copyright {
        max-width: 242px;
    }
}
@media (max-width: 575.98px) {
    .wrapper {
        margin: 0;
    }
}