@import '../../scss/variables';

.root {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
}
.title {
    @extend %h7;
    font-weight: 700;
    color: $clr-white;
    text-transform: uppercase;
    margin: 0 0 24px 6px;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    li {
        a {
            padding: 6px;
            @extend %h9;
            color: $clr-white;
            &:hover {
                color: $clr-beige;
            }
        }
    }
    span {
        display: block;
        padding: 6px;
        @extend %h9;
        color: $clr-white;
    }
}

@media (max-width: 991.98px) {
    .root {
        flex-direction: column;
        gap: 60px;
        margin-bottom: 80px;
    }
    .title {
        margin: 0 0 18px 6px;
    }
}

@media (max-width: 759.98px) {
    .root {
        gap: 40px;
        margin-bottom: 40px;
    }
    .title {
        margin: 0 0 12px 0;
    }
    .ul {
        gap: 4px;
        li {
            a {
                padding: 4px;
                margin-left: -4px;
            }
        }
        span {
            padding: 4px;
            margin-left: -4px;
        }
    }
}